<footer>
  <div>
    <a href="https://twitter.com/mavr1k7"><i class="fab fa-twitter"></i></a>
    <a href="https://github.com/mavr1k7"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/teranpeterson/"><i class="fab fa-linkedin-in"></i></a>
    <a href="mailto:mavr1k7@teranpeterson.com"><i class="far fa-envelope"></i></a>
  </div>
  <span>
    &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> <strong>{{ site.author.name }}</strong>. All rights
    reserved.
  </span>
</footer>