<footer>
  <div>
    <a href="https://x.com/teranpeterson" aria-label="X (formerly Twitter)"><i class="fab fa-twitter"></i></a>
    <a href="https://github.com/teranpeterson" aria-label="GitHub"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/teranpeterson/" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
    <a href="mailto:teran@teranpeterson.com" aria-label="Email"><i class="far fa-envelope"></i></a>
  </div>
  <span>
    &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> <strong>{{ site.author.name }}</strong>. All rights
    reserved.
  </span>
</footer>