// Main Colors
$default-backgroud: #181a1b;  // Black Background
$default-color: #c9c5be;      // White Main Text
$default-shade: #d5d2cc;      // Lighter Text
$default-third: #454139;      // Shadow Text
$default-tint: #bab5ab;       // Off White

$grey-1: #979797;
$grey-2: #e5e5e5;

$black: #000;                 // True Black
$white: #fff;                 // True White

$link-blue: #5ca9e4;          // Blue for links
$shadow-color: rgba(0, 0, 0, .2);

// Code Colors
$code-comment-green: #6A9955;
$code-main-blue: #569cd6;
$code-accent-blue: #9cdcfe;
$code-tag-yellow: #d7ba7d;
$code-string-orange: #ce9178;


$code-color: #bf616a;         // 
$code-navy: #0d2232;          // Navy blocks
$code-green: #2ca58d;         // Green code text
$code-dark-blue: #1475A3;     // Blue code text
$code-light-blue: #00ccff;    // Sky code text
$code-red: #cc3300;           // Red code text
$code-orange: #ff6600;        // Orange code text
$code-dark-green: #137411;    // Dark green text
$code-yellow: #f3e071;        // Light yellow text
$code-pale-blue: #64b1e6;     // Pale blue text

// Fonts
$serif-primary: 'Libre Baskerville', 'Times New Roman', Times, serif;
$serif-secondary: Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', 'Georgia', serif;
$sans-serif: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
$monospaced: Menlo, Monaco, monospace;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}
