.home {
    flex-grow: 1;
    margin: 0 auto;
    max-width: 1000px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: $sans-serif;
    background-image: url("/assets/home-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.lightbulb {
    margin: auto;
    width: 8vw;
    margin-bottom: 60px;
}

.vertical {
    flex: 1;
    border-left: 4px solid #232627;
    transform: translate(49.8%);
}

.subtitle {
    font-size: 2vw;
}

.title {
    font-size: 7vw;
}