.pagination {
  font-family: $font-serif-secondary;
  padding-top: 2rem;
  position: relative;
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
  width: 80%;
  margin-bottom: 2rem;

  span {
    color: $default-shade;
    font-size: 1.3rem;
    font-family: $font-serif-secondary;
  }

  .arrow {
    @include transition(all .3s ease-out);
    color: $default-color;
    position: absolute;

    &:hover,
    &:focus {
      opacity: .6;
      text-decoration: none;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  .top {
    color: $default-color;
  }
}
