.timeline {
  position: relative;
  background-color: $default-background;
  padding: 5px 0;

  &:after {
    content: "";
    width: 4px;
    height: 100%;
    background-color: $default-grey;
    position: absolute;
    top: 0;
  }

  &-item {
    position: relative;
    font-family: $font-primary;

    &:after {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 4px solid $default-grey;
      background-color: $default-background;
      position: absolute;
      left: -8px;
      top: 8px;
      z-index: 10;
    }

    &-content {
      margin: 40px;
      padding-bottom: 20px;
      border-bottom: 1px dashed $default-color;
    }

    &-title {
      margin-bottom: 0px;
      padding-bottom: 0px;
    }

    &-subtitle {
      margin-top: 0px;
      padding-top: 0px;
    }

    &-location {
      margin-top: 14px;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }

    &-date {
      margin-top: -5px;
      margin-bottom: 15px;
      color: $default-grey;
      font-family: $font-serif;
      letter-spacing: .5px;
    }

    &-desc {
      margin-bottom: 4px !important;
    }

    .columnl {
      flex: 50%;
    }

    .columnr {
      flex: 50%;
      text-align: right;
      padding-top: 20px;

      @media (max-width: 600px) {
        text-align: left;
        padding-top: 0px;
        padding-bottom: 20px;
      }
    }

    .row {
      display: flex;

      @media (max-width: 600px) {
        display: initial;
      }
    }
  }
}

.skills {
  border-bottom: 4px solid $default-grey;
  border-right: 4px solid $default-grey;
  border-top: 4px solid $default-grey;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;

  > div {
    position: relative;

    &::before {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    img {
      position: absolute;
      padding: 1rem;
      max-width: 100%;
      top: 0;
      left: 0;
      min-height: 100%;
      object-fit: cover;
      transition: .3s all;
    }

    .overlay {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      padding-top: 60%;
      transition: .3s all;
    }

    &:hover {
      .overlay {
        opacity: 1;
      }
      img {
        -webkit-filter: blur(5px);
        filter: blur(5px);
      }
    }
  }
}

.skills {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;

  > div {
    transform: rotate(-45deg) translateY(20px);
    -webkit-transform: rotate(-45deg) translateY(20px);
    width: 0;

    &:after {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 4px solid $default-grey;
      background-color: $default-background;
      position: absolute;
      left: -28px;
      top: 3px;
      z-index: 10;
    }
  }
}

.spacer {
  height: 10px;
  border-left: 4px solid $default-grey;
}