// Main Colors
$default-background: #181a1b;  // Black Background
$default-accent: #232627;     // Nav/Footer Divider
$default-color: #c9c5be;      // White Main Text
$default-shade: #e5e5e5;      // Lighter Text
$default-grey: #979797;       // Faded Grey
$link-blue: #5ca9e4;          // Blue for links

// Code Colors
$code-background-blue:#0d2232;// Background blue
$code-comment-green: #6a9955; // Comment green
$code-accent-green: #4ec9b0;  // Keyword green
$code-number-green: #b5cea8;  // Number green
$code-main-blue: #569cd6;     // Keyword blue
$code-accent-blue: #9cdcfe;   // Variable blue
$code-tag-yellow: #dcdcaa;    // Tag yellow
$code-string-orange: #ce9178; // String orange
$code-keyword-purple: #c586c0;// Keyword purple
$code-error-red: #f44747;     // Error red
$code-regex-red: #d16969;     // Regex red
$code-regex-yellow: #d7ba7d;  // Regex yellow

// Fonts
$serif-primary: 'Libre Baskerville', 'Times New Roman', Times, serif;
$serif-secondary: Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', 'Georgia', serif;
$sans-serif: 'Raleway', sans-serif;
$monospaced: Menlo, Monaco, monospace;

// Sizing
@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

// Transitions
@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}
