---
layout: default
title: "Blog"
image: "https://img.pngio.com/blog-icon-it-is-a-typewriter-with-dots-instead-of-letters-for-the-typewriter-blog-png-1600_1600.png"
description: "My blog"
---

<main>
  <div class="catalogue">
    {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content | strip_html | truncatewords: 50 }}
        </p>

      </div>
    </a>
    {% endfor %}
  </div>

  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow"><i class="fas fa-chevron-left"></i></a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow"><i class="fas fa-chevron-right"></i></a>
    {% endif %}

    <span>{{ paginator.page }}</span>
  </div>
</main>