---
layout: default
---

<main class="home">
    <div>
        <h1 style="display: none;">Teran Peterson</h1>
        <div><span class="home-subtitle">Software Engineer</span></div>
        <div><span class="home-title">Teran Peterson</span></div>
        <p style="display: none;">My name is Teran Peterson. Welcome to my little corner of the internet showcasing some of my work as a software engineer. I love to dabble in new things and especially enjoy learning the latest and greatest, cutting edge technologies. Networking, linux, programming languages, arduino, AI, you name it. Basically all the fun stuff college failed to teach me. </p>
    </div>
</main>