---
layout: default
---

<main>
<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-line"></div>
    {{ content }}

    <div class="project-grid">
        {% for project in site.data.projects %}
        <div><a href="{{ project.link }}">
            <img src="{{ project.image }}" alt="{{ project.title }}">
            <div class="overlay">
                <h2>{{ project.title }}</h2>
            </div>
        </a></div>
        {% endfor %}
    </div>
    <div class="skills">
        
    </div>
    <div class="timeline">
        {% for item in site.data.timeline %}
        <div class="timeline-item">
            <div class="timeline-item-content">
                <div class="row">
                    <div class="columnl">
                        <h1 class="timeline-item-title">{{ item.title }}</h1>
                        <h3 class="timeline-item-subtitle">{{ item.subtitle }}</h3>
                    </div>
                    <div class="columnr">
                        <h3 class="timeline-item-location">{{ item.location }}</h3>
                        <time class="timeline-item-subtitle">{{ item.from }} - {{ item.to }}</time>
                    </div>
                </div>
                {% for line in item.description %}
                <p class="timeline-item-desc">{{ line }}</p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <button name="resume" onclick="location.href='/assets/resume.pdf'">Resume</button>
</div>
</main>