---
layout: default
---

<main>
  <div class="post">
    <div class="post-info">
      <span>Written by</span>
      {% if page.author %}
      {{ page.author }}
      {% else %}
      {{ site.author.name }}
      {% endif %}

      {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
      {% endif %}
    </div>

    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-line"></div>

    {{ content }}
  </div>

  <div class="pagination">
    {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow"><i class="fas fa-chevron-left"></i></a>
    {% endif %}
    {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow"><i class="fas fa-chevron-right"></i></a>
    {% endif %}

    <a href="#" class="top"><i class="fas fa-chevron-up"></i></a>
  </div>
</main>