---
layout: default
---

<main>
  <div class="post">
    <div class="post-info">
      <span>Written by</span>
      {% if page.author %}
      {{ page.author }}
      {% else %}
      {{ site.author.name }}
      {% endif %}

      {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
      {% endif %}

      {% assign words = content | number_of_words %}
      {% assign minutes = words | plus: 199 | divided_by: 200 %}
      <br>
      <span>{{ minutes }} min read</span>
    </div>

    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-line"></div>

    <img src="{{ page.image }}" alt="{{ page['image-desc'] }}" class="post-header-img" decoding="async" fetchpriority="high"{% if page.image_width and page.image_height %} width="{{ page.image_width }}" height="{{ page.image_height }}"{% endif %}>

    {{ content }}

    {% if page.tags.size > 0 %}
    <div class="tags post-tags">
      {% for tag in page.tags %}
      {% assign tag_slug = tag | slugify %}
      <a class="tag" href="{{ '/tags/' | append: tag_slug | append: '/' | prepend: site.baseurl }}">{{ tag }}</a>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <div class="pagination">
    {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow"><i class="fas fa-chevron-left"></i></a>
    {% endif %}
    {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow"><i class="fas fa-chevron-right"></i></a>
    {% endif %}

    <a href="#" class="top"><i class="fas fa-chevron-up"></i></a>
  </div>
</main>